@model IEnumerable<MaleFashion.eCommerce.WebUI.Models.Entity.ProductCampaignCollection>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info" style="display: inline-block; font-size: 1.4rem;"><i class="fa fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id:
            </th>
            <th>
                Product:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceNew)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    @item.ProductCollection.Product.Title
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Campaign.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceNew)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
