@model MaleFashion.eCommerce.WebUI.Models.Entity.Size

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>

<div>
    <h4 class="text-center">Size</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SizeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SizeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>

