@model MaleFashion.eCommerce.WebUI.Models.Entity.ProductTag

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center">Details</h1>

<div>
    <h4 class="text-center">ProductTag</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTagName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductTagName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedDate.ToString("dd.MM.yyyy HH:mm:ss")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedDate)
        </dt>
        <dd class="col-sm-10">
            @Model.UpdatedDate?.ToString("dd.MM.yyyy HH:mm:ss")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>
